# Backend
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000

# Edge
CAMERA_IP=192.168.4.88
RTSP_PORT=8554
RTSP_URL=rtsp://192.168.4.88:8554/main
CLOUD_WS_URL=ws://127.0.0.1:8000/ws/edge/upload
EDGE_ID=vehicle_edge_001

# Video
SEND_FPS=8
ENABLE_RESIZE=true
TARGET_WIDTH=640
TARGET_HEIGHT=360
TARGET_KBPS=800
